.div1{
    background-color: rgb(58, 189, 58);
    width: 50%;
    height: 50%;
    padding: 5%;

}
.div2{
    background-color:aqua;
    width: 50%;
    height: 50%;
    padding: 5%;
}

.div3{
    background-color:burlywood ;
    width: 50%;
    height: 50%;
    padding: 5%;
}